:root {
  --color-primary-dark: #880d1e;  
  --color-primary: #dd2d4a;      
  --color-secondary: #f26a8d;     
  --color-light-pink: #f49cbb;    
  --color-white: #ffffff;         
  --color-bg: #fff5f7;            
  --color-text: #2b2d42;          
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
